
.show {
text-align: center;
}

.show-complains-nav{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 22px;
    font-weight: 600;
    color: #282c34;
    ;
}
.add-complains-nav{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 22px;
    font-weight: 600;
    color: #282c34;
}
.complain-card-info{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 5px;
padding: 2px;
}